# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/clawview

# Go
go.work
go.work.sum

# Python
.venv/
__pycache__/
*.pyc
*.egg-info/

# env file
.env

docs
src/clawview/web/*
!src/clawview/web/.gitkeep
dist/
ralph/progress.txt
tasks
.playwright-mcp
ralph/.last-branch

.idea
