# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/clawlens

# Go
go.work
go.work.sum

# Python
.venv/
__pycache__/
*.pyc
*.egg-info/

# env file
.env

docs
web/dist
ralph/progress.txt
tasks
.playwright-mcp
ralph/.last-branch


